:root{
    --color-principal: #ff7913;
    --color-secundario: #000000;
}
*{
    margin: 0;
    padding: 0;
    color: var(--color-secundario);
    font-family: "Roboto", sans-serif;

}

header{
    background-color: #ff7913bb;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    z-index: 100;

}
.header-main{
    display: flex;
    width: 500px;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}
header img{
    width: 80px;
    height: 100%;
    object-fit: cover;
    

}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
}
.selected{
    border-bottom: 3px solid black;
}
main{
    width: 100%;
}
.main-bck-img{
    background-image: url(img/paris.jpg);
    background-size: cover;
    height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
   


}
.main-content{
    position: relative;
    top: 200px;
    width: 800px;
    left: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slogan{
    background-color: #ff79137e;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    
}
.slogan h3{
    color: #fff;
    font-size: 50px;
}


.main-content a{
    text-decoration: none;
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    font-weight: bold;
}
.main-content a u{
    text-decoration: none;
    border-bottom: 2px solid var(--color-principal);
}

.container{
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.container h2{
    background-color: var(--color-principal);
    padding: 20px;
    width: 90%;
    text-align: center;
}
.budget-container{
    display: flex;
    margin: 50px;
    justify-content: space-around;
    width: 100%;
}
.budget{
    width: 30%;
    background-color: var(--color-principal);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    transition: background-color .3s;

}
.budget h3{
    margin-bottom: 10px;
}
.budget img{
    width: 90%;
    height: 400px;
    object-fit: cover;
    padding: 20px;
}

.budget:hover{
    background-color: #ff7913bb;
    cursor: pointer;
}